/* You can add global styles to this file, and also import other style files */

@import "styles/variables";
@import "styles/material.setup.scss";
@import "styles/document";
@import "styles/navbar";
//@import "styles/svg";


.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}

button {
    min-height: 23px !important;
    min-width: 46px !important;
    font-size: 12px !important;
    line-height: 0px;
}

