md-card {
  margin: 2em auto;
}

md-toolbar-row {
  justify-content: space-between;
}

md-card-title-group {
  border-bottom: 1px solid #ddd;
}

ng2-fa,
fa {
  color: #000;
}

table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 20px;
  text-align: left;
  th, td {
    padding: 8px;
    line-height: 1.42857143;
  }
  tbody>tr {
    td, th {
      border-bottom: 1px solid #ddd;
      vertical-align: top;
    }
  }
}