$rounded: 3px;
$extra-rounded: 5px;
$primary: #555;
$accent: #cf202e;
$text-color: #333;
$navbar-color: #f1f1f1;
$border-color: #ddd;
$navbar-border-color: darken($navbar-color, 10%);
$navbar-height: 50px;
$success: #1ccf16;
$warning: #cf202e;
$table-color: #fffbd9;
$class-color: #dfdfdf;
$datatype-color: #ffece9;
$enumeration-color: #e0fde8;
$codelist-color: #e6f0ff;
$details-background: rgba(0, 0, 0, 0.05);